.users-list {
}

.users-list-grid {
    background-color: var(--lumo-contrast-10pct);
    line-height: var(--lumo-line-height-m);
}

.users-list-item {
    background-color: var(--lumo-base-color);
    border-radius: var(--lumo-border-radius);
    box-shadow: var(--lumo-box-shadow-xs);
    padding: calc(var(--lumo-space-s) * 1.5) var(--lumo-space-m);
}