#user-view-footer {
    align-items: center;
    display: flex;
    margin-bottom: var(--lumo-space-xs);
    margin-top: auto;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
    padding-bottom: var(--lumo-space-xs);
    padding-top: var(--lumo-space-xs);
    background-color: var(--lumo-base-color);
}