.signup-button {
    background: #ffcd1f;
    color: #282e3e;
    cursor: pointer;
    border-radius: .25rem;
    font-size: .875rem;
    font-weight: 600;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    line-height: 1.4285714285714286;
    min-height: 2rem;
}